doctype
html
	head
		title MEAN Stack
		link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
		link(rel="stylesheet", href="/css/bootstrap.min.css")
		link(rel="stylesheet", href="/vendor/toaster/toaster.css")
		link(rel="stylesheet", href="/css/site.css")
		base(href="/")
	body(ng-app='app')
		block main-content

		include scripts