.container
	.jumbotron
		h1 MEAN Stack
		p This is my first MEAN Stack app. 
		p 
			| The code 
			a(href="https://github.com/eriksjaastad/mean-stack") https://github.com/eriksjaastad/mean-stack
		p Things you can do with this app out of the box
		ul
			li User sign up
			li User login
			li Admins can view users
			li List, sort and view data details


	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")